In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\\IVY PRO SCHOOL\\elevate\\22.09.2025ABI\\dataset 4\\netflix_titles_nov_2019.csv")

In [7]:
df.head(3)

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie

In [5]:
## Identify and handle missing values using.
df.isnull().sum()

show_id            0
title              0
director        1901
cast             556
country          427
date_added       642
release_year       0
rating            10
duration           0
listed_in          0
description        0
type               0
dtype: int64

In [8]:
##drop missing values
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

show_id         0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
type            0
dtype: int64

In [11]:
## Remove duplicate rows using.
df.drop_duplicates(inplace=True)

In [13]:
df.duplicated().sum()

0

In [19]:
##Standardize text values
df['title'] = df['title'].str.title()
df['director'] = df['director'].str.title()
df['cast'] = df['cast'].str.title()
df['country'] = df['country'].str.title()
df['rating'] = df['rating'].str.title()
df['listed_in']=df['listed_in'].str.title()
df['description'] = df['description'].str.title()
df['tyoe'] = df['type'].str.title()

In [20]:
df.head()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type,tyoe
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,Tv-14,135 min,"Comedies, Dramas, International Movies",A Goofy Copywriter Unwittingly Convinces The I...,Movie,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,Tv-14,106 min,"Dramas, Independent Movies, International Movies","Arranged To Marry A Rich Man, Young Ada Is Cru...",Movie,Movie
5,81172754,Crazy People,Moses Inwang,"Ramsey Nouah, Chigul, Sola Sobowale, Ireti Doy...",Nigeria,"November 29, 2019",2018,Tv-14,107 min,"Comedies, International Movies, Thrillers",Nollywood Star Ramsey Nouah Learns That Someon...,Movie,Movie
6,81120982,I Lost My Body,Jérémy Clapin,"Hakim Faris, Victoire Du Bois, Patrick D'Assum...",France,"November 29, 2019",2019,Tv-Ma,81 min,"Dramas, Independent Movies, International Movies","Romance, Mystery And Adventure Intertwine As A...",Movie,Movie
7,81227195,Kalushi: The Story Of Solomon Mahlangu,Mandla Dube,"Thabo Rametsi, Thabo Malema, Welile Nzuza, Jaf...",South Africa,"November 29, 2019",2016,Tv-Ma,107 min,"Dramas, International Movies",The Life And Times Of Iconic South African Lib...,Movie,Movie

In [21]:
##rename column header
df.columns = [col.capitalize() for col in df.columns]

In [22]:
df.head(3)

,Show_id,Title,Director,Cast,Country,Date_added,Release_year,Rating,Duration,Listed_in,Description,Type,Tyoe
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,Tv-14,135 min,"Comedies, Dramas, International Movies",A Goofy Copywriter Unwittingly Convinces The I...,Movie,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,Tv-14,106 min,"Dramas, Independent Movies, International Movies","Arranged To Marry A Rich Man, Young Ada Is Cru...",Movie,Movie
5,81172754,Crazy People,Moses Inwang,"Ramsey Nouah, Chigul, Sola Sobowale, Ireti Doy...",Nigeria,"November 29, 2019",2018,Tv-14,107 min,"Comedies, International Movies, Thrillers",Nollywood Star Ramsey Nouah Learns That Someon...,Movie,Movie

In [29]:
## Convert date formats to a consistent type 
df["Date_added"] = pd.to_datetime(df["Date_added"], format="%B %d, %Y")

In [30]:
df.head(3)

,Show_id,Title,Director,Cast,Country,Date_added,Release_year,Rating,Duration,Listed_in,Description,Type,Tyoe
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,2019-11-30,2019,Tv-14,135 min,"Comedies, Dramas, International Movies",A Goofy Copywriter Unwittingly Convinces The I...,Movie,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium",2019-11-29,2019,Tv-14,106 min,"Dramas, Independent Movies, International Movies","Arranged To Marry A Rich Man, Young Ada Is Cru...",Movie,Movie
5,81172754,Crazy People,Moses Inwang,"Ramsey Nouah, Chigul, Sola Sobowale, Ireti Doy...",Nigeria,2019-11-29,2018,Tv-14,107 min,"Comedies, International Movies, Thrillers",Nollywood Star Ramsey Nouah Learns That Someon...,Movie,Movie

In [31]:
##checking data type
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3447 entries, 2 to 5836
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Show_id       3447 non-null   int64
 1   Title         3447 non-null   object
 2   Director      3447 non-null   object
 3   Cast          3447 non-null   object
 4   Country       3447 non-null   object
 5   Date_added    3447 non-null   datetime64[ns]
 6   Release_year  3447 non-null   int64
 7   Rating        3447 non-null   object
 8   Duration      3447 non-null   object
 9   Listed_in     3447 non-null   object
 10  Description   3447 non-null   object
 11  Type          3447 non-null   object
 12  Tyoe          3447 non-null   object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 377.0+ KB

In [36]:
import os
print(os.getcwd())

C:\Users\user\elevat labs\Task 1

In [37]:
df.to_csv("cleaned_data_netflix_titles_nov_2019.csv", index=False)